<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="resultado">
                O <%= operacao %> de (<%= num1 %>) e (<%= num2 %>) é : <%= mdc_resultado %>
            </p>
            <p class="formularioQ">
                Informe outros 2 números para mostrar o MDC entre eles.
            </p>
            <form method="POST" action="/mdc" autocomplete="off">
                <input name="num1" type="text" />
                <input name="num2" type="text" />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>